body {
  font-family: Courier New;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.7;
}

header {
  background-color: #000;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #c13252;
}

.logo {
  color: #fff;
  font-size: 20px;
}

nav {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: #c13252;
}

.nav-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

main {
  padding: 0;
  margin: 80px auto;
  width: 100%;
  max-width: 100%;
}

.section {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin-bottom: 0;
  padding: 40px 30px;
}

.section.alternate {
  background-color: #fafafa;
  border-top: 2px;
  border-bottom: 2px;
  border-color: #c13252;
  border-style: solid;
  border-left: 0;
  border-right: 0;
}

.row {
  display: flex;
  max-width: 1370px;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  position: relative;
}

.column {
  width: calc(50% - 20px);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}
.column.center {
  justify-content: center;
}

h2 {
  color: #000;
}

h1 { 
  font-size: 40px; 
  line-height: 1.1em;
}
h2 {
  font-size: 30px;
  line-height: 1.2em;
}
h3 {
  font-size: 22px;
  line-height: 1.4em;
}
h4 {
  font-size: 20px;
  line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 15px;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .nav-list {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #000;
  }

  .nav-list.show {
      display: flex;
  }

  .nav-list li {
      margin: 10px 0;
  }

  .nav-toggle {
      display: block;
  }
  h1 { 
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
    line-height: 1.2em;
  }
}